* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
}
  
input {
    padding: 6px; 
    font-size: 14px; 
}

#js-search-term {
    width: 250px;
    margin-top: 10px;
}

#js-max-results {
    width: 75px;
}

button { 
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
}

.results-search {
    margin-top: 20px;
}

#js-error-message {
    color: red;
}
  
.hidden {
    display: none;
 }